<div class="col-md-12">
  <p>Number of processes: {{(allProcs | filter:filter).length || 0}}</p>
  <table class="table">
    <thead>
      <tr>
        <th>PID</th>
        <th ng-class="selectedCls('repo')", ng-click="changeSorting('repo')">Repo</th>
        <th ng-class="selectedCls('slave')", ng-click="changeSorting('slave')">Slave</th>
        <th ng-class="selectedCls('status')", ng-click="changeSorting('status')">Status</th>
        <th ng-class="selectedCls('opts.env.PORT')", ng-click="changeSorting('opts.env.PORT')">Port</th>
        <th>Commit</th>
        <th>Controls</th>
      </tr>
      <tr>
        <th></th>
        <th><input type="text", ng-model="filter.repo", placeholder="filter"</th>
        <th><input type="text", ng-model="filter.slave", placeholder="filter"</th>
        <th><input type="text", ng-model="filter.status", placeholder="filter"</th>
        <th><input type="text", ng-model="filter.port", placeholder="filter"</th>
        <th></th>
      </th>
    </thead>
    <tbody>
      <tr ng-repeat="proc in allProcs | orderBy:sort.column:sort.descending | filter:filter">
        <td>{{proc.id}}</td>
        <td>{{proc.repo}}</td>
        <td>{{proc.slave}}</td>
        <td>{{proc.status}}</td>
        <td>{{proc.port}}</td>
        <td ng-click="lickMyBalls('foo')">{{proc.opts.commit}}</td>
        <td ng-click="stop(proc.slave, proc.id)"><button class="btn btn-danger">Stop</button></td>
      </tr>
    </tbody>
  </table>
</div>
